html {
    background-color: beige;
}

.head{
    height: 110px;
    background-color: burlywood;
    margin-top: auto;
   }

h1 { color: #CEF0D4;
    font-family: ‘Rouge Script’, cursive;
    line-height: 23px;
      text-align: center;


}
.logoImg {
    border-radius: 35px;
    border: 3px solid chocolate;
    text-align: center;
    margin: 20px 15px auto;

}
.UserName{
    pointer-events: none;
    animation: fade-out-left 0.23s cubic-bezier(0.390,0.575,0.565,1.000)both;
    opacity: 0;
    position: absolute;
    line-height: 1.6;
    right: 70px;
    width: auto;
    max-width: 250px;
    color: white;width: max-content;

}
.UserName:hover{
    content:'';
    position: absolute;
    z-index: -1;
    top: 50%;
    right: -4px;
    width: 20px;
    height: 20px;
    background: inherit;
    border-radius: inherit;

}
.h2{
    background-color: bisque;
    width: 400px;
    height: 400px;
    margin: 25px auto;
    padding: 0 20px 20px 20px;
    border: 4px solid burlywood;
}

.text{
    background: white;
    width: 360px;
    height: 200px;
    margin:  25px auto;
}



.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    /*padding: 10px 25px;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-weight: 500;*/
    /*background: transparent;*/
    cursor: pointer;
    /*transition: all 0.3s ease;*/
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn {
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
    margin: 31px 33px auto;
}
.btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: burlywood;
    background-image: linear-gradient(315deg, burlywood 10%, chocolate 74%);
    box-shadow:inset 2px 2px 2px 0px rgb(210, 108, 42);
    transition: all 0.3s ease;
}
.btn:hover {
    color: #000;
}
.btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}
.btn:active {
    top: 3px;
}


